<?xml version="1.0"?>
<!--
Web.config file for SharpBackupWeb.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <!--
    <httpRuntime enableHeaderChecking="true" apartmentThreading="false" appRequestQueueLimit="5000" delayNotificationTimeout="5" enable="true" enableKernelOutputCache="true" enableVersionHeader="true" encoderType="System.Web.Util.HttpEncoder" executionTimeout="110" maxQueryStringLength="2048" maxRequestLength="4096" maxUrlLength="260" maxWaitChangeNotification="0" minFreeThreads="8" minLocalRequestFreeThreads="4" relaxedUrlToFileSystemMapping="False" requestLengthDiskThreshold="80" requestValidationMode="4.0" requestValidationType="System.Web.Util.RequestValidator" requireRootedSaveAsPath="true" sendCacheControlHeader="true" shutdownTimeout="90" useFullyQualifiedRedirectUrl="false" waitChangeNotification="0" />
-->
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--  <customErrors mode="Off" defaultRedirect="Error.aspx" />-->
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" name="loginForm" timeout="60" path="/" requireSSL="false" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="true" localOnly="true" pageOutput="false" requestLimit="20" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="60" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="hubIP" value="127.0.0.1" />
    <add key="hubPort" value="9999" />
    <add key="Logger.LogToConsole" value="True" />
    <add key="Logger.LogFile" value="shbackup_webui.log" />
  </appSettings>
</configuration>